label {
    display: block;
}

form {
    background-color: #3bcccc;
    width: 50%;
    color: white;
    padding: 10px;
}

input,
select,
textarea {
    width: 50%;
    color: white;
    border: 1px solid #97f2f2;
    padding: 5px;
    background-color: #97f2f2;
}

input:focus,
select:focus,
textarea:focus {
    background-color: #97f2f2;
    border: 1px solid white;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

input[type="submit"] {
    background-color: #276d86;
    text-transform: uppercase;
    font-weight: 900;
    width: auto;
    padding: 20px;
}
h1 {
    text-align: center;
    font-family: cursive;
}
